<div class="tech-logos">
	<div>
	  <%= image_tag "ruby-logo.png" %>
		<%= image_tag "ruby-on-rails.png", class: "ror-logo" %>
	  <%= image_tag "rails-logo.png", class: "rails-logo"  %>
	</div>
	<%= image_tag "aws-logo.png" %>
	<%= image_tag "docker.svg" %>
	<%= image_tag "k8s.png" %>
	<%= image_tag "ruby-mine-logo.png" %>
	<%= image_tag "ubuntu-logo.png" %>
</div>
<div class="banner-text-w3-agileits">
	<div style="float: right">
		<span>Hi, I'm</span>
		<h1><span>T</span>ouqeer <span>A</span>hmad</h1>
	</div>
</div>
<div class="banner-text-w3-agileits it-fields">
	<div>
		<p><span>Ruby on Rails</span></p>
		<p><span>Developer</span></p>
	</div>
</div>
<div class="banner-text-w3-agileits it-fields it-fields-left">
	<div>
		<p><span>+<%= Time.now.year - 2016 %> Year of Experience</span></p>
		<p>as</p>
		<p><span>Senior Technical Lead</span></p>
		<p>&</p>
		<p><span>DevOps Engineer</span></p>
		<p><span>(AWS, Docker, K8s)</span></p>
	</div>
</div>
<%= image_tag "profile-2.jpg", alt: "touqeer ahmad, tqr, profile-pic", itemprop: "image", og: "image", class: "profile-pic" %> 
<div class="cover-location">
	<p>Kuala Lumpur, Malaysia</p>
</div>