<div class="tech-logos row">
	<div class="col-md-2 col-xs-3">
		<%= image_tag "ruby-logo.png" %>
	</div>
	<div class="col-md-2 col-xs-3 col-md-offset-1 text-center">
		<%= image_tag "rails-logo.png" %>
	</div>
	<div class="col-md-2 col-xs-3 col-md-offset-3 text-right">
		<%= image_tag "ruby-mine-logo.png" %>
	</div>
	<div class="col-md-2 col-xs-3 text-right">
		<%= image_tag "ubuntu-logo.png" %>
	</div>
</div>
<div class="banner-text-w3-agileits">
	<%= image_tag "ruby-on-rails.png", class:"ror-pic" %>
	<div style="float: right">
		<h5>Hi, I'm</h5>
		<h2><span>T</span>ouqeer <span>A</span>hmad</h2>
		<p><span>Full Stack ROR Developer</span></p>
		<div class="botton">
			<a href="#about" class="scroll">About me <span class="fa fa-caret-right"></span></a>
		</div>
	</div>
</div>
 <%= image_tag "profile.jpg", alt: "Cinque Terre", class:"profile-pic" %> 