<!-- portfolio -->
<div class="gallery myportfolio" id="portfolio">
	<div class="title-wthree">
		<h5 class="title-w3"><span>05</span>Portfolio</h5>
		<div class="clearfix"></div>
	</div>>
	<p class="text-center slideanim">My Recent Projects , Just "Click" on them to know More.</p>
	<section class="vertical" id="grid3d">
		<div class="grid-wrap">
			<div class="grid" style="width: 50%;">
				<figure><%= image_tag "1.jpg", class: "slideanim", alt: "img01" %></figure>
				<figure><%= image_tag "2.jpg", class: "slideanim", alt: "img05" %></figure>
				<figure><%= image_tag "3.jpg", class: "slideanim", alt: "img08" %></figure>
				<figure><%= image_tag "4.jpg", class: "slideanim", alt: "img02" %></figure>
			</div>
			<div class="grid" style="width: 50%;">
				<figure><%= image_tag "6.jpg", class: "slideanim", alt: "img03" %></figure>
				<figure><%= image_tag "7.jpg", class: "slideanim", alt: "img09" %></figure>
				<figure><%= image_tag "8.jpg", class: "slideanim", alt: "img06" %></figure>
				<figure><%= image_tag "9.jpg", class: "slideanim", alt: "img07" %></figure>
			</div>
		</div><!-- /grid-wrap -->
		<div class="content">
			<div>
				<div class="content-img"><%= image_tag "1-1.jpg", class: "img-responsive", alt: "my projects" %></div>
				<h3 class="content-text">SouqOfQatar</h3>
				<p class="content-text">Developed Product Matching Site in Team with proper responsiveness and fast query execution on 1 Million Data.</p>
			</div>
			<div>
				<div class="content-img"><%= image_tag "2-2.jpg", class: "img-responsive", alt: "my projects" %></div>
				<h3 class="content-text">404 Error Page</h3>
				<p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<div>
				<div class="content-img"><%= image_tag "3-3.jpg", class: "img-responsive", alt: "my projects" %></div>
				<h3 class="content-text">Credit Card Validation</h3>
				<p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<div>
				<div class="content-img"><%= image_tag "4-4.jpg", class: "img-responsive", alt: "my projects" %></div>
				<h3 class="content-text">Eshop Product Detail Widget</h3>
				<p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<div>
				<div class="content-img"><%= image_tag "5-5.jpg", class: "img-responsive", alt: "my projects" %></div>
				<h3 class="content-text">Model Profile Widget</h3>
				<p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<div>
				<div class="content-img"><%= image_tag "6-6.jpg", class: "img-responsive", alt: "my projects" %></div>
				<h3 class="content-text">Flat Under Construction</h3>
				<p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<div>
				<div class="content-img"><%= image_tag "7-7.jpg", class: "img-responsive", alt: "my projects" %></div>
				<h3 class="content-text">Impressive Under Construction</h3>
				<p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<div>
				<div class="content-img"><%= image_tag "8-8.jpg", class: "img-responsive", alt: "my projects" %></div>
				<h3 class="content-text">Profile Widget</h3>
				<p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<div>
				<div class="content-img"><%= image_tag "9-9.jpg", class: "img-responsive", alt: "my projects" %></div>
				<h3 class="content-text">Travel Reservation Widget</h3>
				<p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<span class="loading"></span>
			<span class="icon close-content"></span>
		</div>
	</section>
</div>
<!-- //portfolio -->