<!-- banner -->
<div class="banner" id="home">
	<div class="container">
		<%= render partial: 'layouts/header' %>
		<%= render partial: 'cover' %>
	</div>
</div>
<!-- //banner -->
<%= render partial: 'about' %>
<%= render partial: 'education' %>
<%= render partial: 'experience' %>
<%= render partial: 'skills' %>
<%= render partial: 'portfolio' %>
<%= render partial: 'contact' %>
<%= render partial: 'layouts/footer' %>

<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<script type="text/javascript">
	$(function () {
		$('.w3_agile_gallery_grid a').Chocolat();
	});
	new grid3D( document.getElementById( 'grid3d' ) );
	jQuery(document).ready(function ($) {
		$(".scroll").click(function (event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop: $(this.hash).offset().top
			}, 1000);
		});
	});
	$(document).ready(function () {
		$().UItoTop({
			easingType: 'easeOutQuart'
		});
	});
	// start-smoth-scrolling 
	$(window).on('scroll',function() {
	    if (checkVisible($('#skills'))) {
	        $('.skillbar').skillBars({
				from: 0,
				speed: 4000, 
				interval: 0,
				decimals: 0,
			});
	        $(window).off('scroll');
	    }
	});
</script>