<!-- banner -->
<div class="banner" id="home">
	<div class="container">
		<!-- header -->
		<header>

			<div class="header-bottom-agileits">
				<div class="w3-logo">
					<h1><a href="index.html">ROR Developer<span class="sub-logo">ROR Developer</span></a></h1>
				</div>
				<!-- navigation -->
				<nav class="navbar navbar-default shift">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						    aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a class="active" href="index.html">Home</a></li>
							<li><a class="scroll" href="#about">About</a></li>
							<li><a class="scroll" href="#skills">Skills</a></li>
							<li><a class="scroll" href="#portfolio">Portfolio</a></li>
							<li><a class="scroll" href="#contact">Contact</a></li>
						</ul>

					</div>
					<!-- /.navbar-collapse -->

				</nav>
			</div>
			<div class="clearfix"></div>
			<!-- //navigation -->
		</header>
		<!-- //header -->
		<div class="tech-logos row">
			<div class="col-md-2 col-xs-3">
				<%= image_tag "ruby-logo.png" %>
			</div>
			<div class="col-md-2 col-xs-3 col-md-offset-1 text-center">
				<%= image_tag "rails-logo.png" %>
			</div>
			<div class="col-md-2 col-xs-3 col-md-offset-3 text-right">
				<%= image_tag "ruby-mine-logo.png" %>
			</div>
			<div class="col-md-2 col-xs-3 text-right">
				<%= image_tag "ubuntu-logo.png" %>
			</div>
		</div>
		<div class="banner-text-w3-agileits">
			<%= image_tag "ruby-on-rails.png", class:"ror-pic" %>
			<div style="float: right">
				<h5>Hi, I'm</h5>
				<h2><span>T</span>ouqeer <span>A</span>hmad</h2>
				<p><span>Full Stack ROR Developer</span></p>
				<div class="botton">
					<a href="#about" class="scroll">About me <span class="fa fa-caret-right"></span></a>
				</div>
			</div>
		</div>
		 <%= image_tag "profile.jpg", alt: "Cinque Terre", class:"profile-pic" %> 
	</div>
</div>
<!-- //banner -->
<!--about-->
<div class="about-w3layouts" id="about">
	<div class="container">
		<div class="tittle-agileinfo">
			<div class="title-wthree">
				<h5 class="title-w3"><span>01</span>About Me</h5>
				<div class="clearfix"></div>
			</div>
			<div class="about-top">
				<h3 class="subheading-agileits-w3layouts">Some words about me</h3>
				<p class="para-agileits-w3layouts">I am highy motivated, efficient and capable developer with withstand vision to provide the clients with the best solutions. </p>
			</div>
		</div>
		<div class="col-md-4 about-left-agileits">
			<div class="services-grids social">
				<a class="fa fa-delicious" aria-hidden="true"></a>
				<p class="para-agileits-w3layouts">Get extensive web solutions.</p>
				<div class="clearfix"></div>
				<h6>Web Development</h6>
			</div>
			<div class="services-grids">
				<a class="fa fa-globe" aria-hidden="true"></a>
				<p class="para-agileits-w3layouts">Developing API's with proper REST and HTTP protocol.</p>
				<h6>API Development</h6>
			</div>
			<div class="services-grids">
				<a class="fa fa-desktop" aria-hidden="true"></a>
				<p class="para-agileits-w3layouts">Integration of Third parties like Google Map, Mobile Push Notifications, Amazon, S3 Storage, Email and many more</p>
				<h6>Web Services</h6>
			</div>
			<div class="services-grids">
				<a class="fa fa-mobile" aria-hidden="true"></a>
				<p class="para-agileits-w3layouts">Get fast and responsive sites.</p>
				<h6>Web Responsiveness</h6>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="col-md-8 about-right">
			<div class="about-border-w3ls">
			</div>
			<div class="person-info-agileits-w3layouts">
				<p class="para-agileits-w3layouts"><span>Hi!, I am Touqeer Ahmad </span>I have extensive experience with Ruby on Rails, MongoDB, MySQL, Heroku, Amazon EC2, EB CLI, Git, GitHub, Jquery, creating APIs, Google Map Integration, Polygon Construction, Mobile Push Notifications, Action Cable (Sockets), Web Crawlers, Slim/HTML5/CSS3, Bootstrap, Responsive Designs, Twilio etc<br>
				I have always provided the product in-time with best quality and still hunting to learn more and to improve my skills.</p>
				<ul>
					<li><span>Name</span>: Touqeer Ahmad</li>
					<li><span>Age</span>: 24 Years</li>
					<li><span>Experience</span>: +2 Years</li>
					<li><span>Email</span>: <a href="mailto:tqr093@gmail.com">tqr093@gmail.com</a></li>
					<li><span>Phone</span>: +92 343 4535019</li>
					<li><span>Address</span>: Lahore, Pakistan</li>
					<li><a href="#" class="botton-w3ls">Download CV</a>
					</li>
				</ul>
				<div class="clearfix"></div>

				<div class="pos-w3ls">
					<h4><span class="red-w3ls">Get</span> in touch</h4>
					<div class="button-w3layouts"><a href="#contact" class="scroll">Contact Me</a></div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--//about-->
<!--education-->
<div class="display-w3lsagile">
	<div class="col-md-7 col-sm-7 edu-img-agileits">
	</div>
	<div class="col-md-5 col-sm-5 display-grid-w3lsagile display-grid-1-w3lsagile">

		<!-- Scrolling-Articles -->
		<div class="activity_box agileits w3layouts">
			<div class="title-wthree">
				<h5 class="title-w3"><span>02</span>Education</h5>
				<div class="clearfix"></div>
			</div>
			<div class="scrollbar agileits w3layouts" id="style-2">
				<div class="activity-row agileits w3layouts">
					<div class="activity-img agileits w3layouts">
						<h6>2012-2016</h6>
					</div>
					<div class="activity-desc agileits w3layouts">
						<h5>University of Central Punjab</h5>
						<p class="para-agileits-w3layouts">Graduated in BSCS and have done various projects including different technologies and frameworks like Web Development, Windows Phone SDK 8.0, Compiler Construction, Image Recognition Open-CV, Arduino-UNO, STM32F102RB.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="activity-row agileits w3layouts">
					<div class="activity-img agileits w3layouts">
						<h6>2010-2012</h6>
					</div>
					<div class="activity-desc agileits w3layouts">
						<h5>Punjab College</h5>
						<p class="para-agileits-w3layouts">Done Intermediate in Computer Science.</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- //Scrolling-Articles -->

	</div>
	<div class="clearfix"></div>
</div>
<!--//education-->
<!--experience-->
<div class="display-w3lsagile">
	<div class="col-md-7 col-sm-7 exp-img-agileits">
	</div>
	<div class="col-md-5 col-sm-5 display-grid-w3lsagile display-grid-1-w3lsagile">

		<!-- Scrolling-Articles -->
		<div class="activity_box agileits w3layouts">
			<div class="title-wthree work_box">
				<h5 class="title-w3"><span>03</span>Work Experience</h5>
				<div class="clearfix"></div>
			</div>
			<div class="scrollbar agileits w3layouts" id="style-1">
				<div class="activity-row agileits w3layouts">
					<div class="activity-img agileits w3layouts">
						<h6>2016-2017</h6>
					</div>
					<div class="activity-desc agileits w3layouts">
						<h5>Novatore Solutions</h5>
						<p class="para-agileits-w3layouts">Collaboration with designer to create clean, simple and intuitive interface, mobile team to create APIs and seniors with improve knowledge. Experience with Agile methodology (Daily Sprint Meetings) and Version Control System with GIT.</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- //Scrolling-Articles -->

	</div>
	<div class="clearfix"></div>
</div>
<!--//experience-->
<!-- awards and skills -->
<div class="awards-bg-agile about skills" id="skills" style="padding: 2.5em 0 0 0;">
	<div class="title-wthree">
		<h5 class="title-w3" style="margin-bottom: 0;"><span>04</span>Skills</h5>
		<div class="clearfix"></div>
	</div>>
	<div class="container">
		<div class="skill-agileinfo">
			<div class="skill-grids">
				<div class="col-md-4 col-sm-4 skills-w3lsleft">
					<h3>Experience With Gems</h3>
					<div class="col-xs-6" >
						<ul>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Devise</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Tiddle</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Slim</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Sendgrid-rails</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Byebug</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Web-console</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Turbolinks</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Jbuilder</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Twilio-Ruby</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Kaminari</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Will_paginate</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Geocoder</li>
						</ul>
					</div>
					<div class="col-xs-6" >
						<ul>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Geokit</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Gmaps4rails</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Paperclip</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Carrierwave</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>FCM</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Spawnling</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Delayed_job_</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>_active_record</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Ckeditor</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Rails-erd</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>Nokogiri</li>
							<li><i class="fa fa-check-square-o" aria-hidden="true"></i>redis</li>
						</ul>
					</div>
				</div>
				<div class="col-md-8 col-sm-8 skills-w3lsright">
					<h3>Technical Skills</h3>
					<div class="skillbar" data-percent="94">
						<span class="skillbar-title" style="background:#A90000;">Ruby</span>
						<p class="skillbar-bar" style="background: #D40000;"></p>
						<span class="skill-bar-percent"></span>
					</div>
					<!-- End Skill Bar --> 
					<div class="skillbar" data-percent="96">
						<span class="skillbar-title" style="background:#6f0300;">Ruby on Rails</span>
						<p class="skillbar-bar" style="background: #a70000;"></p>
						<span class="skill-bar-percent"></span>
					</div>
					<!-- End Skill Bar -->   
					<div class="skillbar" data-percent="94">
						<span class="skillbar-title" style="background:#565656;">Active Record</span>
						<p class="skillbar-bar" style="background: #949494;"></p>
						<span class="skill-bar-percent"></span>
					</div>
					<!-- End Skill Bar -->   
					<div class="skillbar" data-percent="96">
						<span class="skillbar-title" style="background:#067D99;">API Json</span>
						<p class="skillbar-bar" style="background: #3e94a9;"></p>
						<span class="skill-bar-percent"></span>
					</div>
					<!-- End Skill Bar -->   
					<div class="skillbar" data-percent="98">
						<span class="skillbar-title" style="background:#E93E00;">HTML5/Slim/HAML</span>
						<p class="skillbar-bar" style="background: #F55E00;"></p>
						<span class="skill-bar-percent"></span>
					</div>
					<!-- End Skill Bar --> 
					<div class="skillbar" data-percent="99">
						<span class="skillbar-title" style="background:#2D50BC;">CSS3/SASS</span>
						<p class="skillbar-bar" style="background:#3499E3;"></p>
						<span class="skill-bar-percent"></span>
					</div>
					<!-- End Skill Bar --> 
					<div class="skillbar" data-percent="92">
						<span class="skillbar-title" style="background:#807d7d;">jQuery</span>
						<p class="skillbar-bar" style="background:#A8A7A8;"></p>
						<span class="skill-bar-percent"></span>
					</div>
					<!-- End Skill Bar -->
					<div class="skillbar" data-percent="90">
						<span class="skillbar-title" style="background:#5D3F28;">Database</span>
						<p class="skillbar-bar" style="background:#9a6c48;text-align: center;"><span style="width: 88%;color: whitesmoke;text-align: center;font-weight: bold;font-size: 11px;">MySQL / Postgres / MongoDB</span></p>
						<span class="skill-bar-percent"></span>
					</div>
					<!-- End Skill Bar -->
					<div class="skillbar" data-percent="98">
						<span class="skillbar-title" style="background:#ff5858;">Git</span>
						<p class="skillbar-bar" style="background:#ff8080;"></p>
						<span class="skill-bar-percent"></span>
					</div>
					<!-- End Skill Bar --> 
				</div>
				<div class="clearfix"></div>
			</div> 
		</div> 
	</div>
	<!-- //skills -->
</div>
<!-- //awards and skills -->
<!-- language -->
<div class="language-skills">
	<div class="container">
		<div class="col-md-6 lang-left-w3-agile">
			<div class="title-wthree">
				<h5 class="title-w3">Language Skills</h5>
				<div class="clearfix"></div>
			</div>
			<p class="para-agileits-w3layouts">Feel free to contact me in any language appropriate for you.</p>
		</div>
		<div class="col-md-6 w3l_about_bottom_grid_right bar-grids">
			<h6>English<span> 100% </span></h6>
			<div class="progress">
				<div class="progress-bar progress-bar-striped active" style="width: 100%">
				</div>
			</div>
			<div class="mid-bar">
				<h6>Urdu<span> 100% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 100%">
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //language -->
<!-- gallery -->
<div class="gallery myportfolio" id="portfolio">
	<div class="title-wthree">
		<h5 class="title-w3"><span>05</span>Portfolio</h5>
		<div class="clearfix"></div>
	</div>>
	<p class="text-center slideanim">My Recent Projects , Just "Click" on them to know More.</p>
	<section class="vertical" id="grid3d">
		<div class="grid-wrap">
			<div class="grid">
				<figure><%= image_tag "1.jpg", class: "slideanim", alt: "img01" %></figure>
				<figure><%= image_tag "2.jpg", class: "slideanim", alt: "img05" %></figure>
				<figure><%= image_tag "3.jpg", class: "slideanim", alt: "img08" %></figure>
				<figure><%= image_tag "4.jpg", class: "slideanim", alt: "img02" %></figure>
				<figure><%= image_tag "5.jpg", class: "slideanim", alt: "img04" %></figure>
				<figure><%= image_tag "6.jpg", class: "slideanim", alt: "img03" %></figure>
				<figure><%= image_tag "7.jpg", class: "slideanim", alt: "img09" %></figure>
				<figure><%= image_tag "8.jpg", class: "slideanim", alt: "img06" %></figure>
				<figure><%= image_tag "9.jpg", class: "slideanim", alt: "img07" %></figure>
			</div>
		</div><!-- /grid-wrap -->

		<div class="grid-wrap">
			<div class="grid">
				<figure><%= image_tag "1.jpg", class: "slideanim", alt: "img01" %></figure>
				<figure><%= image_tag "2.jpg", class: "slideanim", alt: "img05" %></figure>
				<figure><%= image_tag "3.jpg", class: "slideanim", alt: "img08" %></figure>
				<figure><%= image_tag "4.jpg", class: "slideanim", alt: "img02" %></figure>
				<figure><%= image_tag "5.jpg", class: "slideanim", alt: "img04" %></figure>
				<figure><%= image_tag "6.jpg", class: "slideanim", alt: "img03" %></figure>
				<figure><%= image_tag "7.jpg", class: "slideanim", alt: "img09" %></figure>
				<figure><%= image_tag "8.jpg", class: "slideanim", alt: "img06" %></figure>
				<figure><%= image_tag "9.jpg", class: "slideanim", alt: "img07" %></figure>
			</div>
		</div><!-- /grid-wrap -->			<div class="content">
			<div>
				<div class="content-img"><%= image_tag "1-1.jpg", class: "img-responsive", alt: "my projects" %></div>
				<h3 class="content-text">SouqOfQatar</h3>
				<p class="content-text">Developed Product Matching Site in Team with proper responsiveness and fast query execution on 1 Million Data.</p>
			</div>
			<div>
				<div class="content-img"><%= image_tag "2-2.jpg", class: "img-responsive", alt: "my projects" %></div>
				<h3 class="content-text">404 Error Page</h3>
				<p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<div>
				<div class="content-img"><%= image_tag "3-3.jpg", class: "img-responsive", alt: "my projects" %></div>
				<h3 class="content-text">Credit Card Validation</h3>
				<p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<div>
				<div class="content-img"><%= image_tag "4-4.jpg", class: "img-responsive", alt: "my projects" %></div>
				<h3 class="content-text">Eshop Product Detail Widget</h3>
				<p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<div>
				<div class="content-img"><%= image_tag "5-5.jpg", class: "img-responsive", alt: "my projects" %></div>
				<h3 class="content-text">Model Profile Widget</h3>
				<p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<div>
				<div class="content-img"><%= image_tag "6-6.jpg", class: "img-responsive", alt: "my projects" %></div>
				<h3 class="content-text">Flat Under Construction</h3>
				<p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<div>
				<div class="content-img"><%= image_tag "7-7.jpg", class: "img-responsive", alt: "my projects" %></div>
				<h3 class="content-text">Impressive Under Construction</h3>
				<p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<div>
				<div class="content-img"><%= image_tag "8-8.jpg", class: "img-responsive", alt: "my projects" %></div>
				<h3 class="content-text">Profile Widget</h3>
				<p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<div>
				<div class="content-img"><%= image_tag "9-9.jpg", class: "img-responsive", alt: "my projects" %></div>
				<h3 class="content-text">Travel Reservation Widget</h3>
				<p class="content-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
			<span class="loading"></span>
			<span class="icon close-content"></span>
		</div>
	</section>
</div>
<!-- //gallery -->

<!-- footer -->

<!-- contact -->
<div class="contact-agileits-w3layouts" id="contact">
	<div class="contact-right-wthree">
		<div class="container">
			<div class="title-wthree">
				<h5 class="title-w3"><span>06</span>Contact Me</h5>
				<div class="clearfix"></div>
			</div>
			<div class="address-w3layouts">
				<p class="para-agileits-w3layouts">Always open to new things</p>
				<h4><a href="mailto:info@example.com">tqr093@gmail.com</a></h4>
				<hr style="height: 3px;border:none;width: 185px;background: -webkit-linear-gradient(red, orange);">
				<h6>+92 343 4535019</h6>
				<p class="para-agileits-w3layouts">Lahore, Pakistan</p>
			</div>
			<div class="botttom-nav-agileits">
				<div class="w3l-social">
					<ul>
						<li><a href="https://www.linkedin.com/in/touqeer-ahmad/" target="_blank" class="fa fa-linkedin"></a></li>
						<li><a href="https://www.facebook.com/tqr093" target="_blank" class="fa fa-facebook"></a></li>
					</ul>
				</div>
			</div>
			<div class="clearfix"> </div>

		</div>
	</div>
	<div class="wthree-form">
		<div class="container">
			<div class="col-md-6 contact-form agile_inner_grids">
				<h5 class="title-w3">Say Hello</h5>
				<form action="#" method="post">
					<div class="fields-grid">
						<div class="styled-input">
							<input type="text" name="Full Name" placeholder="Name" required="">
						</div>
						<div class="styled-input">
							<input type="email" name="Email" placeholder="Email" required="">
						</div>
						<div class="styled-input">
							<input type="text" name="Subject" placeholder="Subject" required="">
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="styled-input textarea-grid">
						<textarea name="Message" placeholder="Message" required=""></textarea>
					</div>
					<input type="submit" value="Send">
				</form>
			</div>
			<div class="col-md-6 map-w3-agileits">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d435521.26222624135!2d74.07127853383082!3d31.482666530572754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39190483e58107d9%3A0xc23abe6ccc7e2462!2sLahore!5e0!3m2!1sen!2s!4v1514046979569" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //contact -->
<!-- Footer -->
<div class="copyright-wthree">
	<div class="container">
		<p>&copy; 2017 Portfolio . All Rights Reserved | Modified by <a href=""> Touqeer Ahmad </a></p>
	</div>
</div>
<!-- //Footer -->

<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<script type="text/javascript">
	$(function () {
		$('.w3_agile_gallery_grid a').Chocolat();
	});
</script>
 --><script>
	new grid3D( document.getElementById( 'grid3d' ) );
</script>
<!-- /js files for portfolio -->
<script type="text/javascript">
	jQuery(document).ready(function ($) {
		$(".scroll").click(function (event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop: $(this.hash).offset().top
			}, 1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
	$(document).ready(function () {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/

		$().UItoTop({
			easingType: 'easeOutQuart'
		});

		$('.skillbar').skillBars({
			from: 0,
			speed: 4000, 
			interval: 100,
			decimals: 0,
		});
		

	});
</script>
<!-- //here ends scrolling icon -->